* {
    margin: 0;
    padding: 0;
}
.parent{
    height: 600px;
    width: 600px;
    /* border: 1px solid; */
    margin:1rem auto;
}
.parent div {
height: 150px;
width: 150px;
background-color: red;
box-sizing: border-box;
/* border: solid 1px; */
}
.parent div div {
    background-color: yellow;
    border: 5px solid brown;
}
#child2 {
    padding-left: 150px;
}
#child3 {
    padding-left: 300px;
}
#child4 {
    padding-left: 450px;
}

